#home{
    margin-top: 2vh;
    margin-left: 2vw;

}
#home a{
    color:rgb(0, 140, 255);
    font-size: x-large;
    margin-left:70vw;
    margin-top:5vh;
    font-size: 1.5vw;
}
#home a:hover{
    color: rgb(1, 34, 63);
}
#kmBoxs{
    display:flex;
    gap:2vw;
}
#kmBoxs img{
    width: 22vw;
    height:25vh;
}
#htBoxs{
    display:flex;
    gap:2vw;
}
#hotel img{
    width: 22vw;
    height:25vh;
}