body {
    margin: 0;
    font-family: Arial, sans-serif;
}
#auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
#auth-form {
    width: 300px;
    background-color: #fff;
    padding: 45px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
#auth-form h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto 30px 0; /* Đảm bảo tiêu đề căn giữa */
    text-align: center; /* Đảm bảo căn giữa văn bản */
    padding: 0;
  }
  
#auth-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
#auth-group label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    padding: 3vw;
  }
  
#auth-field {
    width: 100%;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1vw;
    box-sizing: border-box;
  }
  
#auth-field:focus {
    outline: none;
    border-color: #007bff;
  }
  
#auth-submit {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
#auth-submit:hover {
    background-color: #0056b3;
  }
  
#toggle-text {
    font-size: 14px;
    margin-top: 15px;
  }
  
#toggle-text a {
    color: #007bff;
    text-decoration: none;
  }
  
#toggle-text a:hover {
    text-decoration: underline;
  }
  
