h2 {
    text-align: center;
    padding: 0 32px;
}

.hotel-detail-row {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 12px;
    justify-content: space-between;
    padding: 0 32px; /* Thêm padding trái/phải */
}

.hotel-detail-row img {
    max-width: 300px;
    border-radius: 8px;
    object-fit: cover;
    flex: 0 0 300px;
}

.hotel-detail-info {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

.hotel-detail-info span {
    font-size: 20px;
    font-weight: bold;
}

.hotel-detail-intro {
    margin-top: 0;
    padding: 12px 0;
    font-style: italic;
    font-size: larger;
    color: #444;
    border-top: 1px solid #eee;
    padding: 0 32px; /* Thêm padding trái/phải */
}

h3{
    text-align: center;
    padding: 0 32px; /* Thêm padding trái/phải */
}

.hotel-rooms-list{
    padding: 30px 50px; /* Thêm padding trái/phải */
}

.hotel-room-item {
    display: flex;
    align-items: center;
    gap: 24px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px #0001;
    padding: 20px;
    margin-bottom: 20px;
}

.hotel-room-info {
    display: flex;
    flex: 1;
    gap: 32px;
    justify-content: space-between;
}

.room-info-col {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 150px;
}

.btn-dat-phong {
    position: absolute;
    right: 16px;
    bottom: 16px;
    padding: 8px 20px;
    background: #1976d2;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s;
}
.btn-dat-phong:hover {
    background: #1251a3;
}